/Encuentros 25 al 32/Ej1/Ej1/nbproject/private/
/Encuentros 25 al 32/Ej1/Ej1/build/
/Encuentros 25 al 32/Ej1/Ej2/nbproject/private/
/Encuentros 25 al 32/Ej2/Ej2/nbproject/private/
/Guia 11/Ej1/Extra1/nbproject/private/
/Guia 11/Ej2/JavaApplication86/nbproject/private/
